{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if card_product and card_product != empty -%}
  <div class="rh-course-card-cmn">
    <img
      class="rh-course-card__image"
      src="{{ card_product.featured_media | image_url: width: 708, height: 424, crop: 'center' }}"
      alt="{{ card_product.featured_media.alt | escape }}"
      width="auto"
      height="auto"
      {% unless lazy_load == false %}
        loading="lazy"
      {% endunless %}
    >

    <div class="rh-course-card__header">
      <div class="rh-course-card__title-container">
        <div class="rh-course-card__title">
          <a href="{{ card_product.url }}" class="full-unstyled-link">
            {{ card_product.title }}
          </a>
        </div>
      </div>
      {% if card_product.compare_at_price > card_product.price %}
        <div class="rh-course-card__badge">
          <div class="rh-course-card__badge-text">Offer</div>
        </div>
      {% endif %}
    </div>

    <div class="rh-course-card__meta">
      <div class="rh-course-card__author">
        <span>By</span>
        <span class="bold">
          {{ card_product.vendor | default: shop.name }}
        </span>
      </div>
      <div class="rh-course-card__pricing">
        {% if card_product.compare_at_price > card_product.price %}
          <div class="rh-course-card__discount">
            {% assign discount = card_product.compare_at_price
              | minus: card_product.price
              | times: 100.0
              | divided_by: card_product.compare_at_price
              | round
            %}
            {{ discount }}% off<br>
            <span class="rh-course-card__old-price">
              {{ card_product.compare_at_price | money }}
            </span>
          </div>
        {% endif %}
        <div class="rh-course-card__price">
          <sup>{{ cart.currency.symbol }}</sup>{{ card_product.price | money_without_currency }}
        </div>
      </div>
    </div>

    <div class="rh-course-card__footer">
      <div class="rh-course-card__score-wrapper">
        {% assign rating = card_product.metafields.reviews.rating.value.rating | default: 5 %}
        {% assign rating_max = card_product.metafields.reviews.rating.value.scale_max | default: 5 %}
        <div class="rh-course-card__score-label">
          Score <span class="bold">{{ rating | round: 1 }}/{{ rating_max }}</span>
        </div>
        <div class="rh-course-card__score-bar-bg">
          <div
            class="rh-course-card__score-bar-fill"
            style="width: {{ rating | divided_by: rating_max | times: 100 }}%"
          ></div>
        </div>
      </div>
      <div class="rh-course-card__icon">
        <a href="{{ card_product.url }}">
          <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_88_480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="33">
              <path d="M32 0.669434H0V32.6694H32V0.669434Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_88_480)">
              <mask id="mask1_88_480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="33">
                <path d="M0 0.669434H32V32.6694H0V0.669434Z" fill="white"/>
              </mask>
              <g mask="url(#mask1_88_480)">
                <path d="M29.232 16.123C29.2293 16.1166 29.226 16.1105 29.2233 16.1043C29.2095 16.0734 29.1953 16.0428 29.1791 16.0129C29.1667 15.9896 29.1527 15.9674 29.1389 15.945C29.1315 15.9329 29.1247 15.9205 29.1168 15.9086C29.0573 15.8182 28.9867 15.736 28.9076 15.6625L23.6161 10.371C23.0961 9.85096 22.2561 9.85096 21.7361 10.371C21.2161 10.891 21.2161 11.731 21.7361 12.251L24.7894 15.3043H4.00275C3.26943 15.3043 2.66943 15.9043 2.66943 16.6376C2.66943 17.371 3.26943 17.971 4.00275 17.971H24.7894L21.7227 21.0376C21.2027 21.5576 21.2027 22.3976 21.7227 22.9176C21.9894 23.171 22.3227 23.3043 22.6694 23.3043C23.0161 23.3043 23.3494 23.171 23.6161 22.9176L28.9494 17.5843C29.3453 17.1884 29.4389 16.6074 29.232 16.123Z" fill="#00CCCC"/>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="rh-course-card-cmn">
    <div class="rh-course-card__image">
      {%- if placeholder_image -%}
        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
      {%- else -%}
        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>

    <div class="rh-course-card__header">
      <div class="rh-course-card__title-container">
        <div class="rh-course-card__title">
          {{ 'onboarding.product_title' | t }}
        </div>
      </div>
    </div>

    <div class="rh-course-card__meta">
      <div class="rh-course-card__author">
        <span>By</span>
        <span class="bold">{{ shop.name }}</span>
      </div>
      <div class="rh-course-card__pricing">
        <div class="rh-course-card__price">
          <sup>{{ cart.currency.symbol }}</sup>0.00
        </div>
      </div>
    </div>

    <div class="rh-course-card__footer">
      <div class="rh-course-card__score-wrapper">
        <div class="rh-course-card__score-label">Score <span class="bold">5/5</span></div>
        <div class="rh-course-card__score-bar-bg">
          <div class="rh-course-card__score-bar-fill" style="width: 100%"></div>
        </div>
      </div>
      <div class="rh-course-card__icon">
        <a role="link" aria-disabled="true">
          <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_88_480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="33">
              <path d="M32 0.669434H0V32.6694H32V0.669434Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_88_480)">
              <mask id="mask1_88_480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="33">
                <path d="M0 0.669434H32V32.6694H0V0.669434Z" fill="white"/>
              </mask>
              <g mask="url(#mask1_88_480)">
                <path d="M29.232 16.123C29.2293 16.1166 29.226 16.1105 29.2233 16.1043C29.2095 16.0734 29.1953 16.0428 29.1791 16.0129C29.1667 15.9896 29.1527 15.9674 29.1389 15.945C29.1315 15.9329 29.1247 15.9205 29.1168 15.9086C29.0573 15.8182 28.9867 15.736 28.9076 15.6625L23.6161 10.371C23.0961 9.85096 22.2561 9.85096 21.7361 10.371C21.2161 10.891 21.2161 11.731 21.7361 12.251L24.7894 15.3043H4.00275C3.26943 15.3043 2.66943 15.9043 2.66943 16.6376C2.66943 17.371 3.26943 17.971 4.00275 17.971H24.7894L21.7227 21.0376C21.2027 21.5576 21.2027 22.3976 21.7227 22.9176C21.9894 23.171 22.3227 23.3043 22.6694 23.3043C23.0161 23.3043 23.3494 23.171 23.6161 22.9176L28.9494 17.5843C29.3453 17.1884 29.4389 16.6074 29.232 16.123Z" fill="#00CCCC"/>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
{%- endif -%}
